*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(222, 214, 214);
    text-decoration: none;
}

body{
    background-color: rgb(57, 58, 60);
}

#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    text-align: center;
    padding: .7rem;
    word-wrap: break-word;
}

h3{
    margin-bottom: .3rem;
}

.git-icon{
    color: white;
    height: 20px;
    width: 20px;
}

#status{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #1c1c1c;
    padding: .4rem;
    border: 2px solid #fff;
    border-radius: .3rem;
    font-weight: bold;
}

.div-game{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #1c1c1c;
    font-weight: bold;
    font-size: 1em;
    border: 3px solid #1c1c1c;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem 3rem;
}

#room{
    background-color: #1c1c1c;
    width: 200px;
    max-width: 80%;
    padding: .4rem;
    border: 2px solid #fff;
    border-radius: .3rem;
}

#room:focus{
    background-color: rgb(51, 51, 55);
}

#room:focus, .btn-game{ 
    box-shadow: 0 0 0 0;
    outline: none;
}

#velha{
    width: 300px;
    height: 300px;
    display: grid;
    gap: 3px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin-top: 1rem;
}

/* @media (min-width: 900px){
    #velha{
        width: 550px;
        height: 550px;
    }
} */