*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body{
    background-color: lightslategrey;
}

header{
    font-size: 1.5rem;
    text-align: center;
    padding: .7rem;
    word-wrap: break-word;
}

#status{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: .4rem;
    border: 1px solid #1c1c1c;
    border-radius: .3rem;
    font-weight: bold;
}

.btn-game{
    background-color: #fff;
    color: #1c1c1c;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    border: 1px solid #1c1c1c;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem 3rem;
}

#room{
    width: 200px;
    max-width: 80%;
    padding: .4rem;
    border: none;
    border-radius: .3rem;
}

#room:focus{
    background-color: rgb(206, 207, 211);
}

#room:focus, .btn-game{ 
    box-shadow: 0 0 0 0;
    outline: none;
}

.black{
    background-color: black;
}

#velha{
    width: 300px;
    height: 300px;
    display: grid;
    gap: 3px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin-top: 1rem;
}

@media (min-width: 900px){
    #velha{
        width: 550px;
        height: 550px;
    }
}